body {
	height: auto;
}

.g_container {
	min-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.m_button {
	width: 100%;
	height: 85px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.m_button_l, .m_button_r {
	display: inline-block;
	height: 85px;
	vertical-align: middle;
}

.m_button_l {
	width: 150px;
}

.m_button_l input {
	margin-right: 10px;
}

.m_button_r {
	width: 660px;
	margin-left: calc(100% - 820px);
}

.m_button_r_buttom {
	display: flex;
}

.m_button_r_l, .m_button_r_m {
	flex:2;
	padding-right: 5px;
}

.m_button_r_r {
	flex:1;
}

.m_button_r_top, .m_button_r_buttom {
	width: 100%;
	height: 40px;
}

.m_button_r_top {
	margin-bottom: 3px;
}

/*主体表格*/
.m_table table {
	min-width: 1000px;
	width: 100%;
	/*border: 1px solid #999;*/
	text-align: center;
	font-size: 15px;
	box-shadow: -3px 3px 10px 2px rgba(195,206,220,0.7), 3px 3px 10px 2px rgba(195,206,220,0.7);
}

.m_table table th {
	text-align: center;
}

.m_table table td:not(:first-child) {
	border-left: 1px solid #999;
}

.m_table table tbody tr:nth-child(odd) {
	height: 45px;
	background: #fff;
}

.m_table table tbody tr:nth-child(even) {
	height: 45px;
	background: rgba(195,206,220,0.9);
}

.m_table table thead tr {
	background: #b5b5b5;
	height: 45px;
}

/*翻页组件*/
.m_page {
	margin-top: 10px;
	/*display: table-cell;*/
	width: 100%;
	height: 32px;
	vertical-align: middle;
	text-align: right;
	padding-top: 1px;
	padding-right: 10px;
	font-size: 15px;
}

.pageInfo, .changePage {
	display: inline-block;
}

/* .u_page {
// 	width: 575px;
// 	height: 32px;
// 	margin-top: 8px;
// 	margin-left: calc(100% - 580px);
// }*/

/*弹出类*/
.bg_cover {
	width: 100%;
	height: 100%;
	background-color: rgba(10%,20%,30%,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    z-index: 3;
}

.upload_bgcover {
	width: 100%;
	height: 100%;
	background-color: rgba(10%,20%,30%,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    z-index: 15;
}

.add_NonStandard {
	width: 800px;
	height: auto;
	position: absolute;
	top: 80px;
	left: calc(50% - 400px);
	z-index: 4;
	background: #fff;
	font-size: 16px;
}

.add_NonStandard_tit {
	position: relative;
	width: 100%;
	height: 35px;
	background: #707070;
	color: #fff;
}

.add_NonStandard_tit_l {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	width: 730px;
	text-indent: 30px;
}

.add_NonStandard_tit_r {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 34px;
	position: absolute;
	right: 30px;
}

.add_NonStandard_body_in {
	margin: 20px;
	font-size: 14px;
}

.add_NonStandard_body_in input:not([type="button"]), .add_NonStandard_body_in select {
	box-sizing: border-box;
	width: 184px;
	height: 25px;
}

.add_NonStandard_body_tit {
	color: #5bc0de;
	font-size: 16px;
	text-indent: 10px;
}

.add_NonStandard_body_main {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 20px;
}

.add_NonStandard_body_main_l, .add_NonStandard_body_main_m, .add_NonStandard_body_main_r {
	flex:1;
	padding-bottom: 5px;
}

.add_NonStandard_body_main_m, .add_NonStandard_body_main_r {
	border-left: 1px solid #ccc;
}

.add_NonStandard_body_main_l {
	padding-left: 0px;
	padding-right: 65px;
}

.add_NonStandard_body_main_m {
	padding-left: 30px;
	padding-right: 30px;
}

.add_NonStandard_body_main_r {
	padding-left: 5px;
	padding-right: 60px;
}

/*修改*/
.update_NonStandard {
	width: 800px;
	height: auto;
	position: absolute;
	top: 80px;
	left: calc(50% - 400px);
	z-index: 4;
	background: #fff;
	font-size: 16px;
}

.update_NonStandard_tit {
	position: relative;
	width: 100%;
	height: 35px;
	/*background: #00aeef;*/
	background: #707070;
	color: #fff;
}

.update_NonStandard_tit_l {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	width: 730px;
	text-indent: 30px;
}

.update_NonStandard_tit_r {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 34px;
	position: absolute;
	right: 30px;
}

.update_NonStandard_body_in {
	margin: 20px;
	font-size: 14px;
}

.update_NonStandard_body_in input:not([type="button"]), .update_NonStandard_body_in select {
	box-sizing: border-box;
	width: 184px;
	height: 25px;
}

.update_NonStandard_body_tit {
	color: #5bc0de;
	font-size: 16px;
	text-indent: 10px;
}

.update_NonStandard_body_main {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 20px;
}

.update_NonStandard_body_main_l, .update_NonStandard_body_main_m, .update_NonStandard_body_main_r {
	flex:1;
	padding-bottom: 5px;
}

.update_NonStandard_body_main_m, .update_NonStandard_body_main_r {
	border-left: 1px solid #ccc;
}

.update_NonStandard_body_main_l {
	padding-left: 0px;
	padding-right: 65px;
}

.update_NonStandard_body_main_m {
	padding-left: 30px;
	padding-right: 30px;
}

.update_NonStandard_body_main_r {
	padding-left: 5px;
	padding-right: 60px;
}

.line_0 {
	height: 35px;
	width: 100%;
	display: flex;
	margin-bottom: 8px;
}

.line_01 {
	height: 35px;
	line-height: 35px;
	flex: 3;
	text-align: right;
	padding-right: 20px; 
}

.line_02 {
	height: 35px;
	flex: 5;
	padding-top: 5px;
}

.line001 {
	line-height: 17px;
}

.line_relative {
	position: relative;
}

.line_relative input[type="button"] {
	position: absolute;
	right: -55px;
}

.pageInfo, .changePage {
	display: inline-block;
}

.add_NonStandard_foot, .update_NonStandard_foot {
	height: 32px;
	width: 100%;
	margin-bottom: 10px;
}

.add_NonStandard_foot_in, .update_NonStandard_foot_in {
	width: 172px;
	height: 32px;
	margin: 0 auto;
}

#NonStandard_addsubmit, #NonStandard_updatesubmit {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
	margin-right: 45px;
}

#NonStandard_addclose, #NonStandard_updateclose {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
}

#NonStandard_addsubmit:hover, #NonStandard_updatesubmit:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

#NonStandard_addclose:hover, #NonStandard_updateclose:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

.add_NonStandard_tit_r, .update_NonStandard_tit_r, .update_td {
	cursor: pointer;
}

.add_NonStandard_body_main input, .add_NonStandard_body_main select {
	font-size: 14px;
}

.update_NonStandard_body_main input, .update_NonStandard_body_main select {
	font-size: 14px;
}


/*额外元素*/
.buttonDisabled {
    background: #dddddd;
    color: #808080;
    border: none;
    box-shadow: 0 0 0 0 #f8fcfd;
    cursor: not-allowed;
}

.buttonAbled {
    background: #00aeef;
    color: #fff;
    border: 1px solid #00aeef;
    box-shadow: 1px 2px 5px 0 #00aeef;
    cursor: pointer;
}

.publish_td input {
	display: inline-block;
	width: 60px;
	height: 26px;
	font-size: 14px;
	border-radius: 13px;
	background: #00aeef;
	color: #fff;
}

.publish_div {
	position: absolute;
	top: 200px;
	left: 50%;
	z-index: 5;
	height: 130px;
	width: 220px;
	margin-left: -110px;
	font-size: 16px;
	background: #fff;
}

.publish_div_tit {
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	background: #00aeef;
}

.publish_div_body {
	height: 50px;
	line-height: 50px;
	color: rgba(255,0,0,0.8);
	text-align: center;
}

.publish_div_foot {
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.publish_div_foot_in {
	font-size: 15px;
	margin: 0 auto;
	width: 160px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

#publish_yes {
	margin-right: 10px;
}

.t3 span {
	margin-left: 3px;
	display: inline-block;
	font-size: 14px;
}

.t3 i {
	cursor: pointer;
}

/*搜索请求的select*/
#add_CustomerName, #update_CustomerName, #add_NonStandardModelNumber, #update_NonStandardModelNumber {
	position: absolute;
	height: 120px;
	top: 30px;
	left:0;
	z-index: 10;
}
#add_CustomerName option, #update_CustomerName option {
	margin:5px auto 5px 5px;
}

#add_ForecastedOrderDate, #add_ActualOrderBookingDate, #update_ForecastedOrderDate, #update_ActualOrderBookingDate {
	position: absolute;
	top: 30px;
	left:0;
}

.dropdown-menu {
	width: 155px;
	padding-left: 10px;
}

.dropdown-menu li {
	padding-top: 3px;
	padding-bottom: 3px;
}

.add_NonStandard_body_in input[disabled], .update_NonStandard_body_in input[disabled] {
	cursor: not-allowed;
	background-color: #eee;
    opacity: 1;
}

.add_NonStandard_body_in input:not([type="button"]), .update_NonStandard_body_in input:not([type="button"]), .add_NonStandard_body_in select, .update_NonStandard_body_in select {
	padding: 2px 3px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.add_NonStandard_body_in input:not([type="button"]):not([disabled]), .update_NonStandard_body_in input:not([type="button"]):not([disabled]), .add_NonStandard_body_in select, .update_NonStandard_body_in select {
	background-color: #fff;
}

.add_NonStandard_body_in input:focus, .update_NonStandard_body_in input:focus, .add_NonStandard_body_in select:focus, .update_NonStandard_body_in select:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */  
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.m_button_r_buttom .caret{
	margin-left:3px;
}

.m_button_r_top .btn-group {
	margin-left: 266px;
}

.textarea-div {
	padding-top: 10px;
	padding-left: 58px;
}

.textarea-div span {
	display: inline-block;
	height: 100%;
	padding-right: 18px;
	vertical-align: top;
}

.textarea-div span.remarkSpan {
	padding-right: 33px;
}

/*发布*/
.publish_div {
	position: absolute;
	top: 200px;
	left: 50%;
	z-index: 5;
	height: 130px;
	width: 220px;
	margin-left: -110px;
	font-size: 16px;
	background: #fff;
}

.publish_div_tit {
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	background: #00aeef;
}

.publish_div_body {
	height: 50px;
	line-height: 50px;
	color: rgba(255,0,0,0.8);
	text-align: center;
}

.publish_div_foot {
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.publish_div_foot_in {
	font-size: 15px;
	margin: 0 auto;
	width: 160px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

#publish_yes {
	margin-right: 10px;
}

/*上传文件*/
.dropFileBox {
    width: 600px;
    height: 330px;
    position: absolute;
    top: calc(6% + 80px);
    left: calc(50% - 300px);
    display: none;
    z-index: 16;
    border: 1px dashed #999;
}

.dropFile {
    position: relative;
    height: 330px;
    width: 100%;
    background: #fff;
}

.dropFileTit {
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-indent: 15px;
    background: #00aeef;
    font-size: 15px;
    position: relative;
}

.dropFileTit span {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
}

/*.dropFileConTop {
    margin: 15px auto 40px auto;
    width: 500px; 
    height:250px; 
    line-height:250px; 
    text-align:center; 
    font-size:24px; 
    color:#999; 
    border:3px #c0c0c0 dashed; 
    position:relative;
}*/

/*.toggleFileUp {
    height: 30px;
    margin-top: 0;
    padding-left: calc(50% - 50px);
}*/

.dropFileConMid {
    margin: 15px auto 20px auto;
    width: 500px; 
    height:250px; 
    line-height:250px; 
    text-align:center;
    border:1px #c0c0c0 dashed;
    position: relative;
}

.dropFileConMidTop, .dropFileConMidMid, .dropFileConMidbot {
    margin: 30px auto 20px auto;
    width: 400px;
    height: 40px;
    line-height: 40px;
}

.dropFileConMidTop {
    font-size: 13px;
    text-align: center;
    position: relative;
}

.dropFileConMidMid .progressOut, .dropFileConMidMid .progressIn {
    margin: 10px auto 10px 0;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
}

.dropFileConMidMid .progressOut {
    width: 400px;
}

.dropFileConMidMid .progressIn {
    position: relative;
    top: -30px;
    background: #4DBF7D;
    width: 30px;
    max-width: 400px;
}

#serFinRepUpload {
    width: 70px;
    height: 22px;
    position: absolute;
    left: 5px;
    top: 9px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

.preUpload1 {
    cursor: pointer;
}

.serFinRepUploadName {
    margin-left: 7px;
    margin-top: 1px;
    width: 250px;
    height: 20px;
    border: none;
    font-size: 12px;
}

.isUpload {
    display: inline-block;
    width: 69px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    color: red;
}

.dropFileCon {
    overflow: hidden;
}

/*小箭头*/
.down_span {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
 	border-right: 5px solid transparent;
	border-top: 10px solid #00aeef;
	transform: translate(-15px,8px);
	-ms-transform: translate(-15px,8px);
	-webkit-transform: translate(-15px,8px);
}

/*文件上传*/
.upload_wrapper {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #fff;
    font-size: 15px;
    z-index: 21;
    display: none;
}

.upload_wrapper_tit {
    position: relative;
    background-color: #00aeef;
    height: 35px;
    line-height: 35px;
    color: #fff;
}

.upload_wrapper_tit_l {
    width: 540px;
    text-indent: 20px;
}

.upload_wrapper_tit_r {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    cursor: pointer;
}

.upload_wrapper_body {
    margin: 20px;
    margin-left: 30px;
}

#picker {
    width: 350px;
    display: inline-block;
    vertical-align: top;
}

/*审核*/
.checkAll_td input[value="未通过"], .hastd_DocumentIntegrity input[value="否"] {
    display: inline-block;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #ddd;
    color: rgba(0,0,0,0.9);
    border-width: 0;
}

.checkAll_td input[value="未通过"], .checkAll_td input[value="已通过"] {
	width: 60px;
}

.checkAll_td input[value="已通过"], .hastd_DocumentIntegrity input[value="是"]  {
    display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #5bc0de;
    color: rgba(0,0,0,0.9);
    border-width: 0;
}

.hastd_DocumentIntegrity input[value="否"], .hastd_DocumentIntegrity input[value="是"] {
	width: 40px;
}

.hastd_ProductInstructions, .hastd_InstallInstructions, .hastd_TestInstructions, .hastd_CheckingReport {
	color: #00aeef;
	cursor: pointer;
}

/*2018-09-11更新*/
/*没有权限，普通状态*/
.m_table.inormal th, .m_table.inormal td {
	max-width: 135px;
	min-width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m_table.inormal td {
	font-size: 14px;
}

.m_table.inormal .t1, .m_table.inormal .update_td {
	min-width: 50px;
	max-width: 50px;
	width: 50px;
}

.m_table.inormal .t2, .m_table.inormal .hastd_Model {
	max-width: 88px;
	width: 8.8%;
}

.m_table.inormal .t3, .m_table.inormal .hastd_Title, .m_table.inormal .t4, .m_table.inormal .hastd_Type, .m_table.inormal .t10, .m_table.inormal .hastd_DocumentIntegrity, .m_table.inormal .t12, .m_table.inormal .hastd_UpdateTime {
	min-width: 90px;
	max-width: 90px;
	width: 90px;
}

.m_table.inormal .t5, .m_table.inormal .hastd_Machine {
	min-width: 150px;
	max-width: 150px;
	width: 150px;
}

.m_table.inormal .t11, .m_table.inormal .checkAll_td {
	min-width: 78px;
	max-width: 78px;
	width: 78px;
	display: none;
}

.m_table.inormal .t6, .m_table.inormal .t7, .m_table.inormal .t8, .m_table.inormal .t9 {
	width: 12.5%;
}

/*有权限*/
.m_table.inormal.Privileged .t6, .m_table.inormal.Privileged .t7, .m_table.inormal.Privileged .t8, .m_table.inormal.Privileged .t9 {
	width: 11.5%;
}

.m_table.inormal.Privileged .t11, .m_table.inormal.Privileged .checkAll_td {
	display: table-cell;
}