body {
	background: #e4e8eb;
}

/*表格*/
.g_container_body_table {
	width: 100%;
    font-size: 15px;
}

.statistics_qty_table, .statistics_score_table {
	border: 1px solid #999;
	box-sizing: border-box;
    border-collapse: collapse;
	width: 100%;
}

.statistics_qty_table thead tr, .statistics_score_table thead tr{
	background: #ccc;
}

.statistics_qty_table th, .statistics_qty_table td, .statistics_score_table th, .statistics_score_table td {
	min-width: 100px;
	height: 30px;
	border: 1px solid #999;
	text-align: center;
	box-sizing: border-box;
    border-collapse: collapse;
}

.statistics_qty_table tr th:nth-child(1), .statistics_qty_table tr td:nth-child(1), .statistics_score_table tr th:nth-child(1), .statistics_score_table tr td:nth-child(1) {
	width: 130px;
    min-width: 130px;
    max-width: 130px;
}

.g_container {
	min-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

/*头信息*/
.g_container_info {
	position: relative;
	background: #ddd;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.g_container_info_l {
	height: 50px;
	line-height: 50px;
	width: calc(100% - 405px);
}

.g_container_info_r {
	position: absolute;
	right: 2px;
	top: 0;
	height: 50px;
	line-height: 50px;
	width: 400px;
}

/*地址栏元素*/
.statistics_qty_tab, .statistics_score_tab {
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	width: 150px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.statistics_qty_tab:hover, .statistics_score_tab:hover {
	cursor: pointer;
	background: #bbb;
}

.current_tab {
	color: #00aeef;
}

/*主体*/
.g_container_body {
	width: 100%;
	background: #fff;
}

.g_container_body_in {
	margin: 0 20px;
	padding-bottom: 20px;
}

.g_container_body_info {
	height: 50px;
	line-height: 50px;
	position: relative;
}

.g_container_body_info_l, .g_container_body_info_r {
	display: inline-block;
	height: 50px;
	line-height: 50px;
}

.g_container_body_info_l {
	width: calc(100% - 92px);
	font-size: 16px;
	font-weight: 700;
}

.g_container_body_info_r {
	position: absolute;
	right: 2px;
	top: 0;
	width: 84px;
}

.g_container_body_info_r button {
	border-radius: 15px;
	width: 80px;
}


/*柱状图*/
.qty_chart_div, .score_chart_div {
	height: 400px;
	width: 100%;
}

#year_sel, #month_sel {
	color: #999;
}

#qty_chart_cont, #score_chart_cont {
	width: 1000px;
	height:395px;
	margin: auto auto;
}