/*loading图*/
.loading_div_g_div {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: #5bc0de;

	filter:alpha(opacity=90); /* IE */  
	-moz-opacity:0.9; /* 老版Mozilla */  
	-khtml-opacity:0.9; /* 老版Safari */  
	opacity: 0.9; /* 支持opacity的浏览器*/ 

    /*text-align: center;*/
    /*水平垂直居中，父元素设置*/
    display: -webkit-flex;
    display: flex;
    	/*设置弹性盒子元素在主轴（横轴）的对齐方式。*/
    justify-content: center;
	/*
	* align-items, align-self 
设置弹性盒子元素在垂直方向上（纵轴）的对齐方式。其中align-items属性用于弹性容器，而align-self用于弹性项目。
	align-self 属性定义flex子项单独在侧轴（纵轴）方向上的对齐方式。
	align-self 属性可重写灵活容器的 align-items 属性。
	 */
    align-items: center;
}
/*loading图end*/
span.multiselect-native-select{position:relative}span.multiselect-native-select select{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px -1px -1px -3px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;left:50%;top:30px}.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container .multiselect-reset .input-group{width:93%}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.checkbox,.multiselect-container>li>a>label.radio{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}
.eou-color {
	color: #00aeef;
}

/*
*表单元素
*/
.eou-button {
	background: #00aeef;
    border: solid 1px #00aeef;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 2px 5px 0 #00aeef;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.eou-button-radius {
	border-radius: 2px;
}

.eou-button:hover {
	background: #fff;
    color:#00aeef;
}

.eou-button-20 {
	height: 20px;
	line-height: 20px;
}

.eou-button-30 {
	height: 30px;
	line-height: 30px;
}

.eou-button-40 {
	height: 40px;
	line-height: 40px;
}

.eou-button-w40 {
	width: 40px;
}

.eou-button-w50 {
	width: 50px;
}

.eou-button-w60 {
	width: 60px;
}

.eou-button-w80 {
	width: 80px;
}

.eou-button-w100 {
	width: 100px;
}

.eou-button-w120 {
    width: 120px;
}

/*按钮可点与不可点*/
.eou-btn-disabled {
    background: #dddddd;
    color: #808080;
    border: none;
    box-shadow: 0 0 0 0 #f8fcfd;
    cursor: not-allowed;
}

.eou-btn-abled {
    background: #00aeef;
    color: #fff;
    border: 1px solid #00aeef;
    box-shadow: 1px 2px 5px 0 #00aeef;
    cursor: pointer;
}

.eou-table-collapse {
	box-sizing: border-box;
	border-collapse: collapse;
}

.eou-relevance {
	display: inline-block;
    margin-right: -10px;
    width: 10px;
    height: 10px;
    position: relative;
    left: -10px;
    background: url(../../image/relevance.png) no-repeat center;
}

.eou-bstr-input {
	padding: 2px 3px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.eou-bstr-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */  
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/*新版本按钮*/
.eou_new_btn {
	background: #5bc0de;
    border: solid 1px #5bc0de;
    color: rgba(0,0,0,0.9);
    cursor: pointer;
    box-shadow: 1px 1px 4px 0 #5bc0de;
    padding: 0;
    text-align: center;
}

.eou_new_radius {
	border-radius: 5px;
}

/*
*图形
*/
/*向右三角形 span需要加inline-block 默认#ddd 可修改*/
.triangle_right {
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 100px solid #ddd;
}

.triangle_up {
	width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ddd;
}

.triangle_down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
 	border-right: 50px solid transparent;
	border-top: 100px solid #ddd;
}

.triangle_left {
	width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 100px solid #ddd;
}

.triangleTopLeft {
	width: 0;
    height: 0;
    border-top: 100px solid #ddd;
    border-right: 100px solid transparent;
}

.triangleTopRight {
	width: 0;
    height: 0;
    border-top: 100px solid #ddd;
    border-left: 100px solid transparent;
}

.triangleBottomLeft {
	width: 0;
    height: 0;
    border-bottom: 100px solid #ddd;
    border-right: 100px solid transparent;
}

.triangleBottomRight {
	width: 0;
    height: 0;
    border-bottom: 100px solid #ddd;
    border-left: 100px solid transparent;
}

/*disabled*/
input[type='button'][disabled='disabled'] {
    cursor: not-allowed;
}

input[type='text'][disabled='disabled'] {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

/*全局字体*/
.eou_new_font_g {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

/*well组件*/
.eou_new_well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    /*继承属性*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.eou_new_well:last-child {
    margin-bottom: 0;
}
body {
	height: auto;
}

.g_container {
	min-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.g_body {
	padding-top: 10px;
}


/*导航切换*/
	/*头信息*/
.g_container_info {
	background: #ddd;
	opacity: 0.7;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.g_container_info_l {
	display: inline-block;
	vertical-align: top;
	height: 50px;
	line-height: 50px;
	width: 295px;
}

.g_container_info_r {
	display: inline-block;
	padding-right: 10px;
	vertical-align: top;
	text-align: right;
	height: 50px;
	line-height: 50px;
	width: calc(100% - 300px);
}

	/*ul胶囊切换*/
.g_container_info_l ul {
    margin-top: 0;
    margin-bottom: 0;
	padding-left: 0;
    list-style: none;
    line-height: 30px;
    font-size: 16px;
}

.g_container_info_l ul>li+li {
    margin-left: 4px;
}

.g_container_info_l ul>li {
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
}

.g_container_info_l ul>li>span {
	position: relative;
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.g_container_info_l ul>li.current_tab>span {
	color: #fff;
	background-color: #337ab7;
}

.g_container_info_l ul>li>span:hover {
	background-color: #eee;
	cursor: pointer;
}
	/*ul胶囊切换--end*/

div.form-group {
	max-width: 200px;
}

/*页面主体内容包裹*/
.exam_statistics_content, .exam_detail_content {
	margin: 5px auto;
	min-width: 1000px;
	width: 100%;
}

.exam_statistics_content {
	background: #fff;
	padding: 10px;
}

.exam_statistics_chart {
	min-height: 500px;
	height: 500px;
}

.exam_statistics_chart_tit {
	font-size: 16px;
	font-weight: 600;
	color: #00aeef;
	height: 35px;
	line-height: 35px;
	text-indent: 20px;
}

/*按钮*/
.exam_btn_div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.exam_btn_div input+input {
	margin-left: 15px;
}

/*标签页*/
.presentation_div ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #b5b5b5;
    height: calc(100% - 1px);
}

.presentation_div ul>li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
    cursor: pointer;
}

.presentation_div ul>li>span {
	position: relative;
    display: block;
    margin-right: 2px;
    padding: 10px 15px;
    height: 44px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}

.presentation_div ul>li>span:hover {
	cursor: pointer;
}

.presentation_div ul>li.active>span, .presentation_div ul>li.active>span:focus, .presentation_div ul>li.active>span:hover {
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #b5b5b5;
    border-bottom-color: transparent;
}

.presentation_div {
	margin-top: 10px;
	margin-bottom: 2px;
    background-color: transparent;
    border-color: #b5b5b5;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    height: 45px;
}

/*标签页--end*/

/*主体表格*/
/*
.fixed_table_div {
	position: absolute;
	width: 550px;
	z-index: 1;
}

.scroll_table_div {
	overflow: hidden;
    overflow-x: scroll;
	padding-left: 550px;
	min-width: 1000px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}

.fixed_table_div th:nth-child(1) {
	max-width: 50px;
	min-width: 50px;
	width: 50px;
}

.fixed_table_div th:nth-child(2) {
	max-width: 160px;
	min-width: 160px;
	width: 160px;
}

.fixed_table_div th:nth-child(3) {
	max-width: 90px;
	min-width: 90px;
	width: 90px;
}

.fixed_table_div th:nth-child(4) {
	max-width: 120px;
	min-width: 120px;
	width: 120px;
}

.fixed_table_div th:nth-child(5) {
	max-width: 130px;
	min-width: 130px;
	width: 130px;
}

.over_width_1 {
	max-width: 90px;
	min-width: 90px;
	width: 90px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.over_width_2 {
	max-width: 120px;
	min-width: 120px;
	width: 120px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.over_width_3 {
	max-width: 130px;
	min-width: 130px;
	width: 130px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scroll_table_div th {
	max-width: 100px;
	min-width: 100px;
	width: 100px;
}
*/
.m_table table, .m_table4 table {
	min-width: 1000px;
	width: 100%;
	box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
	font-size: 15px;
	/*box-shadow: -3px 3px 10px 2px rgba(195,206,220,0.7), 3px 3px 10px 2px rgba(195,206,220,0.7);*/
}

.m_table tbody tr:nth-child(odd), .m_table4 tbody tr:nth-child(odd) {
	height: 45px;
	background: #fff;
}

.m_table tbody tr:nth-child(even), .m_table4 tbody tr:nth-child(even) {
	height: 45px;
	background: rgba(195,206,220,1);
}

.m_table thead tr, .m_table4 thead tr {
	background: #b5b5b5;
	height: 45px;
}

.m_table .tt1 {
	min-width: 100px;
	width: 10%;
}

.m_table .tt2, .m_table .tt3, .m_table .tt4, .m_table .tt5 {
	min-width: 225px;
	width: 22.5%;
}

.m_table4 th:nth-child(1) {
	min-width: 60px;
	width: 6%;
}

.m_table4 th:nth-child(2) {
	min-width: 170px;
	max-width: 170px;
	width: 170px;
}

.m_table4 td:nth-child(2) {
	min-width: 170px;
	max-width: 170px;
	width: 170px;
}

.m_table4 th:nth-child(3), .m_table4 th:nth-child(4), .m_table4 th:nth-child(7){
	min-width: 90px;
	width: 9%;
}

.m_table4 th:nth-child(5), .m_table4 th:nth-child(6), .m_table4 td:nth-child(5), .m_table4 td:nth-child(6) {
	min-width: 110px;
	max-width: 185px;
	width: 185px;
}

.m_table table th, .m_table4 table th {
	text-align: center;
	letter-spacing: 1px;
	font-weight: 600;
}

.m_table4 th:nth-child(8) {
	min-width: 130px;
	width: 13%;
}

/*
.m_table .fixed_table_div td:not([class^="over_width"]) {
	background: #fff;
	border-bottom: 1px solid #999;
}

.m_table .fixed_table_div td:not(:first-child) {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

.m_table .scroll_table_div td:not(:first-child):not(:last-child) {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
*/

.m_table td:not(:first-child):not(:last-child), .m_table4 td:not(:first-child):not(:last-child) {
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

td.hastd_details_Time, td.notice_Time {
	color: #fff;
}
/*主体表格结束*/


/*翻页组件*/
.m_page {
	margin-top: 10px;
	/*display: table-cell;*/
	width: 100%;
	height: 32px;
	vertical-align: middle;
	text-align: right;
	padding-top: 1px;
	padding-right: 10px;
	font-size: 15px;
}

.pageInfo, .changePage {
	display: inline-block;
}

/* .u_page {
// 	width: 575px;
// 	height: 32px;
// 	margin-top: 8px;
// 	margin-left: calc(100% - 580px);
// }*/

/*弹出类*/
.bg_cover {
	width: 100%;
	height: 100%;
	background-color: rgba(10%,20%,30%,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    z-index: 3;
}

.cover_bg2 {
	width: 100%;
	height: 100%;
	background-color: rgba(10%,20%,30%,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    z-index: 15;
}

.add_NonStandard {
	width: 500px;
	height: auto;
	position: absolute;
	top: 100px;
	left: calc(50% - 250px);
	z-index: 4;
	background: #fff;
	font-size: 16px;
}

.add_NonStandard_tit {
	position: relative;
	width: 100%;
	height: 35px;
	background: #707070;
	color: #fff;
}

.add_NonStandard_tit_l {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	width: 430px;
	text-indent: 30px;
}

.add_NonStandard_tit_r {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 34px;
	position: absolute;
	right: 30px;
}

.add_NonStandard_body_in {
	margin: 20px;
	font-size: 15px;
}

.add_NonStandard_body_in input:not([type="button"]), .add_NonStandard_body_in select {
	box-sizing: border-box;
	width: 230px;
	height: 27px;
}

.add_NonStandard_body_tit {
	color: #5bc0de;
	font-size: 16px;
	text-indent: 10px;
}

.add_NonStandard_body_main {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 20px;
}

.add_NonStandard_body_main_l {
	flex:1;
	padding: 1px 70px 5px 1px;
}

/*修改*/
.update_NonStandard {
	width: 500px;
	height: auto;
	position: absolute;
	top: 100px;
	left: calc(50% - 250px);
	z-index: 4;
	background: #fff;
	font-size: 16px;
}

.update_NonStandard_tit {
	position: relative;
	width: 100%;
	height: 35px;
	background: #707070;
	color: #fff;
}

.update_NonStandard_tit_l {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	width: 430px;
	text-indent: 30px;
}

.update_NonStandard_tit_r {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 34px;
	position: absolute;
	right: 30px;
}

.update_NonStandard_body_in {
	margin: 20px;
	font-size: 15px;
}

.update_NonStandard_body_in input:not([type="button"]), .update_NonStandard_body_in select {
	box-sizing: border-box;
	width: 230px;
	height: 27px;
}

.update_NonStandard_body_tit {
	color: #5bc0de;
	font-size: 16px;
	text-indent: 10px;
}

.update_NonStandard_body_main {
	width: 100%;
	height: auto;
	display: flex;
	margin-top: 20px;
}

.update_NonStandard_body_main_l {
	flex:1;
	padding: 1px 70px 5px 1px;
}

/*发布弹窗*/
.publish_NonStandard {
	width: 500px;
	height: auto;
	position: absolute;
	top: 100px;
	left: calc(50% - 250px);
	z-index: 4;
	background: #fff;
	font-size: 16px;
}

.publish_NonStandard_tit {
	position: relative;
	width: 100%;
	height: 35px;
	background: #707070;
	color: #fff;
}

.publish_NonStandard_tit_l {
	height: 35px;
	line-height: 35px;
	display: inline-block;
	width: 430px;
	text-indent: 30px;
}

.publish_NonStandard_tit_r {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 34px;
	position: absolute;
	right: 30px;
}

.publish_NonStandard_body_in {
	margin: 20px;
	font-size: 15px;
}

.publish_NonStandard_body_tit {
	color: #5bc0de;
	font-size: 16px;
	text-indent: 10px;
}

.publish_NonStandard_body_main {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.publish_NonStandard_body_main_l {
	max-height: 300px;
	height: auto;
	width: 400px;
	margin: 1px auto;
	overflow-y: auto;
    overflow-x: hidden;
}

#publish_Candidate li {
	height: 25px;
	font-size: 16px;
	border-radius: 4px;
}

#publish_Candidate li:not(:last-child) {
	border-bottom: 1px solid #eee;
}

#publish_Candidate li+li {
	margin-top: 5px;
}

#publish_Candidate input[type='checkbox'] {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.line_0 {
	height: 35px;
	width: 100%;
	display: flex;
	margin-bottom: 8px;
}

.line_01 {
	height: 35px;
	line-height: 35px;
	flex: 4;
	text-align: right;
	padding-right: 20px; 
}

.line_02 {
	height: 35px;
	flex: 9;
	padding-top: 5px;
}

/* .line001 {
// 	line-height: 17px;
// }*/

.pageInfo, .changePage {
	display: inline-block;
}

.add_NonStandard_foot, .update_NonStandard_foot, .publish_NonStandard_foot {
	height: 32px;
	width: 100%;
	margin-bottom: 10px;
}

.add_NonStandard_foot_in, .update_NonStandard_foot_in, .publish_NonStandard_foot_in {
	width: 172px;
	height: 32px;
	margin: 0 auto;
}

#NonStandard_addsubmit, #NonStandard_updatesubmit, #NonStandard_publishSave {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
	margin-right: 45px;
}

#NonStandard_addclose, #NonStandard_updateclose, #NonStandard_publishSend {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
}

#NonStandard_addsubmit:hover, #NonStandard_updatesubmit:hover, #NonStandard_publishSave:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

#NonStandard_addclose:hover, #NonStandard_updateclose:hover, #NonStandard_publishSend:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

.add_NonStandard_body_main input, .add_NonStandard_body_main select {
	font-size: 14px;
}

.update_NonStandard_body_main input, .update_NonStandard_body_main select {
	font-size: 14px;
}


/*额外元素*/
.buttonDisabled {
    background: #dddddd;
    color: #808080;
    border: none;
    box-shadow: 0 0 0 0 #f8fcfd;
    cursor: not-allowed;
}

.buttonAbled {
    background: #00aeef;
    color: #fff;
    border: 1px solid #00aeef;
    box-shadow: 1px 2px 5px 0 #00aeef;
    cursor: pointer;
}

.t3 span {
	margin-left: 3px;
	display: inline-block;
	font-size: 14px;
}

.t3 i {
	cursor: pointer;
}

/*搜索请求的select*/
#add_CustomerName, #update_CustomerName, #add_NonStandardModelNumber, #update_NonStandardModelNumber {
	position: absolute;
	height: 120px;
	top: 30px;
	left:0;
	z-index: 10;
}
#add_CustomerName option, #update_CustomerName option {
	margin:5px auto 5px 5px;
}

#add_ForecastedOrderDate, #add_ActualOrderBookingDate, #update_ForecastedOrderDate, #update_ActualOrderBookingDate {
	position: absolute;
	top: 30px;
	left:0;
}

.m_button_r .dropdown-menu {
	width: 155px;
	padding-left: 10px;
}

.m_button_r .dropdown-menu li {
	padding-top: 3px;
	padding-bottom: 3px;
}

.add_NonStandard_body_in input[disabled], .update_NonStandard_body_in input[disabled] {
	cursor: not-allowed;
	background-color: #eee;
    opacity: 1;
}

.add_NonStandard_body_in input:not([type="button"]), .update_NonStandard_body_in input:not([type="button"]), .add_NonStandard_body_in select, .update_NonStandard_body_in select {
	padding: 2px 3px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.add_NonStandard_body_in input:not([type="button"]):not([disabled]), .update_NonStandard_body_in input:not([type="button"]):not([disabled]), .add_NonStandard_body_in select, .update_NonStandard_body_in select {
	background-color: #fff;
}

.add_NonStandard_body_in input:focus, .update_NonStandard_body_in input:focus, .add_NonStandard_body_in select:focus, .update_NonStandard_body_in select:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */  
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.m_button_r_buttom .caret{
	margin-left:3px;
}

.m_button_r_top .btn-group {
	margin-left: 266px;
}

.textarea-div {
	padding-top: 10px;
	padding-left: 58px;
}

.textarea-div span {
	display: inline-block;
	height: 100%;
	padding-right: 18px;
	vertical-align: top;
}

.textarea-div span.remarkSpan {
	padding-right: 33px;
}

/*发布*/
.isPublished input[value="未发布"] {
    display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #ddd;
    color: rgba(0,0,0,0.9);
    border-width: 0;
}

.isPublished input[value="已发布"] {
    display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #5bc0de;
    color: rgba(0,0,0,0.9);
    border-width: 0;
}

/*部门选择*/
.department_sele {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	background: #fff;
	width: 400px;
	font-size: 15px;
	z-index: 16;
}

.department_sele_top {
	position: relative;
	height: 30px;
	line-height: 30px;
	background: #00aeef;
	color: #fff;
}

.department_sele_top_l {
	text-indent: 20px;
}

.department_sele_top_l {
	width: 295px;
}

.department_sele_top_r {
	position: absolute;
	right: 0;
	top: 0;
}

.department_sele_top_r {
	width: 100px;
}

.department_sele_body {
	padding: 20px;
	width: 100%;
	height: 300px;
}

/*人员选择*/
.examiner_sel {
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	background: #fff;
	width: 400px;
	font-size: 15px;
	z-index: 16;
}

.examiner_sel_top {
	position: relative;
	height: 30px;
	line-height: 30px;
	background: #00aeef;
	color: #fff;
}

.examiner_sel_top_l {
	text-indent: 20px;
}

.examiner_sel_top_l {
	width: 295px;
}

.examiner_sel_top_r {
	position: absolute;
	right: 0;
	top: 0;
}

.examiner_sel_top_r {
	width: 100px;
}

.examiner_sel_body {
	padding: 20px;
	width: 100%;
	height: 300px;
}

.multiselect-container li.odd {
    background: #eeeeee;
}

.notice_Status input[value="已发布"] {
	display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #5bc0de;
    color: rgba(0,0,0,0.9);
    border-width: 0;
}

.notice_Status input[value="未发布"] {
	display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #ddd;
    color: rgba(0,0,0,0.9);
    border-width: 0;
}

.notice_Status input[value="保存"] {
	margin-right: 10px;
	display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 14px;
    border-radius: 5px;
    background: #337ab7;
    color: rgba(255,255,255,0.9);
    border-width: 0;
}

/*维护默认隐藏元素*/
.form_sel_depart, .exam_detail_content, .m_table4, .exam_btn_div input[value='添加'] {
	display: none;
}

/*维护鼠标悬浮元素*/
.update_td_notice, .notice_departments, .notice_Status, .notice_Examiners, .examiner_sel_top_r, .department_sele_top_r, .add_NonStandard_tit_r, .update_NonStandard_tit_r, .publish_NonStandard_tit_r {
	cursor: pointer;
}

/*维护超出隐藏*/
.m_table th, .m_table td, .m_table4 th, .m_table4 td{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}