.wrap_table {
    min-width: 1000px;
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
}

#table1 {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #e4e8eb;
    border: 1px solid #999;
    border-collapse: collapse;
    box-sizing: border-box;
}
#table1 td {
    text-align: center;
    min-height: 30px;
    height: 30px;
    /* min-width: 50px; */
    /*max-width: 150px;*/
    /*word-break: break-all;*/
    font-size: 15px;
    font-weight: normal;
    border: 1px solid #999;
    box-sizing: border-box;
}
/*----------------------------------------闁跨喐鏋婚幏鐑姐��----------------------------------------*/
.content #page{
    height: 50px;
    float:right;
    margin-top: 20px;
    margin-right:60px;
}

.changePage{
    display:inline-block;
}
.changePage input[type="button"]{
    cursor:pointer;
    border:none;
    border-radius:3px;
    width:50px;
    height:30px;
}

.changePage input[type="text"]{
    width:60px;
    height:20px;
}
.pageInfo{
    display:inline-block;
    color:#000;
}
/*------------------------������------------------------------*/
.info_add,.info_update{
    background: white;
    position: absolute;
    top:10%;
    left:13%;
    width: 74%;
    height:450px;
    display: none;
    border: none;
    z-index:1;
}
.contract{
    background: white;
    position: absolute;
    top:20%;
    left:20%;
    width: 60%;
    min-height:230px;
    display: none;
    border: none;
    z-index:1;
}
.basic_info{
    width: 94%;
    margin: 10px auto;
}
.contract_info{
	margin:10px auto;
    width: 100%;
    min-height: 110px;
    max-height: 260px;
    overflow: auto;
}
.apply_add_info input[type=search]{
    z-index: 999;
    position: absolute;
    top:0;
    right:0;
    width: 150px;
}
.apply_left,.apply_right{
    display: inline-block;
    position: relative;
    height: 30px;
    width: 220px;
    top:10px;
    left: 3%;
}
.apply_right{
    margin-left: 20px;
    width: 300px;
}
#select{
    display: none;
    position: absolute;
    top:22px;
    right: 0;
    width: 150px;
}
.info{
    background: white;
    position: absolute;
    top:20%;
    left:30%;
    width: 35%;
    max-height: 300px;
    overflow: auto;
    display: none;
    border: none;
    z-index:1;
}
.operatePage,.contract_basic{
    background: white;
    border: none;
    width: 100%;
}
.contract_basic td{
    height: 50px;
    border: none;
    text-align: center;
}
.search,.customer_search{
	z-index: 999;
    position: absolute;
    width: 184px;
    height: 26px;
    left:0;
}
.out_search{
	position: relative;
	margin:0 auto;
	width: 184px;
    height: 26px;
}
.contract_basic select{
    width: 184px;
    height: 26px;
}
.contract_basic select[name='customer_name']{
	    height: 60px;
	    position: absolute;
        top:26px;;
        display:none;
        left:0;
}
.contract_basic input[type='text'],.contract_basic input[type='month']{
    width: 180px;
    height: 20px;
}
.contract_basic input[type='date'],.contract_basic input[type='month']{
    width: 178px;
    height: 22px;
}
.edit_btn input[type='button']{
    width: 65px;
    height: 24px;
    margin: 5px 3%;
}


.apply_add_info{
	height:75px;
}
.contract  .edit_btn{
    text-align: left;
}

.contractPage{
    background: white;
    border-color: gainsboro;
    width: 94%;
    margin: 15px auto 10px;
}
.contractPage td,.contractPage th{
    word-break: break-all;
    height:34px;
    min-width:50px;
    max-width:150px;
    text-align: center;
}

.title{
    height: 35px;
    width: 100%;
    line-height: 35px;
    background-color:#00aeef ;
    text-indent: 1em;
    color: white;
}
.update_close,.infoAdd_close{
    width: 35px;
    height: 25px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.cover-color, .cover-color2 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10%,20%,30%,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}

.cover-color2 {
    z-index: 10;
}

.flow{
    width: 300px;
    height: 410px;
    background: rgba(10%,20%,30%,0.5);
    border: 1px solid #fff;
    /*float: right;*/
    position: absolute;
    left:-290px;
    top:160px;
}
.flow #datalist{
    width: 300px;
    height: 235px;
    border: 1px solid green;
    padding-top:40px ;
    border: 1px solid #fff;
    overflow-y: auto;
}
#datalist .bar{
    font-size: 24px;
    position: absolute;
    z-index: 1;
    right:-16px;
    top: 0px;
    color: #2badd4;
    display: block;
    transform: rotate(180deg);

}
#datalist b{
    display:inline-block;
    font-size: 17px;
    color:#fff;
    cursor:pointer;
    margin-left:20px;
}


#fDrag{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    cursor: move;
    height:40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #00aeef;
    font-size:16px;
}
#datalist ul{
    margin-top: 20px;
}
#datalist ul li{
    list-style: none;
    text-align: center;
    color: #fff;
}
.flow .choose{

    height: 130px;
    /*border: 1px solid red;*/
    display: block;
    display: inline-block;
}
.choose #choosedisplay{
    width: 160px;
    height: 30px;
    background: #00aeef;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    margin-left: 30%;
    /* margin-bottom: 1px solid gray; */

    color: #fff;
}
.choose ul{
    list-style: none;
    cursor: pointer;

}
.choose ul li{

    width: 160px;
    /* border-bottom: 1px solid #567084; */
    color: #000;


}
.choose ul li:hover{
    color: #fff;
}
.choose #submenu{
    display: none;
}

.choose #submenu input[type="button"]{
    width: 160px;
    background: #ECF0F1;
    color: #00aeef;
    border: none;
    font-size: 14px;
}
.bAnimate:hover{
    cursor: pointer;
    animation: bAn 0.5s forwards;
    -webkit-animation: bAn 0.5s forwards;
}
@keyframes bAn{
    from{background: #e4e8eb;color:#00aeef;}
    to{background: #00aeef;color:#fff;}
}
@-webkit-keyframes bAn{
    from{background: #e4e8eb;color:#00aeef;}
    to{background: #00aeef;color:#fff;}
}
.flow .clear{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 3px;
}
.clear input[type="button"]{
    width: 60px;
    height: 30px;
    background: #ddb55c;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.table_title{
	margin-left:3%;
	margin-top:20px;
	color:#00aeef;
}
/* 婵烇綀顕ф慨鐐哄矗閹寸姰鍋嶅ǎ鍥ｅ墲娴煎懘宕犻崫鍕幍  */
.contract_add,.contract_update{
    background: white;
    position: absolute;
    top:5%;
    left:10%;
    width: 80%;
    height: auto;
    display: none;
    border: none;
    z-index:1;
    font-size:14px;
}
.contract_title{
    height: 35px;
    width: 100%;
    line-height: 35px;
    background-color:#00aeef ;
    text-indent: 1em;
    color: white;
    font-size:16px!important;
}
.contractAdd_close{
    width: 35px;
    height: 25px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size:16px!important;
}
.edit_btn input[type='button']{
    width: 65px;	
    height: 24px;
    margin: 5px 0 5px 3%;
}
.edit_btn{
    margin: 10px auto;
    text-align: center;
}
.basic_info{
    width: 100%;
    padding-left:2%;
    min-height:150px;
    margin: 10px auto;
}
.table_title{
    margin: 5px 0;color: #00aeef;
    font-size: 17px;
}
.contract_basic{
    background: white;
    border: none;
    width: 100%;
}
.contract_basic td{
    height: 34px;
    border: none;
    text-align: center;
}
.contract_basic tr{
  /*  margin:3px 0; */
  height:50px;
}
.contract_basic input[type='text'],.contract_basic input[type='time']{
    width: 180px;
    height: 22px;
}
.contract_basic input[type='date']{
    width: 178px;
    height: 22px;
}
.contract_basic select{
    width: 184px;
    height: 26px;
}
.MailBar_cover_color{
    width: 100%;
    height:100%;
    background-color: rgba(10%,20%,30%,0.7);
    position: absolute;
    top:0;
    left: 0;
   display: none;
    overflow: hidden;
    z-index:10;
}
.input_css{
	width:65%;
	height:20px;
	margin-bottom:20px;
}
.tbody_tr td {
    padding: 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#update_cancel:hover{
    background: #fff;
    color:#fff;
}
.input_css2{
	width:60%;
	height:25px;
	margin-bottom:20px;
}
.IDCard_up{
	width:20px;
	height:20px;
	background:#00aeef;
}
.RealNamelist ,.Tolist{
    display: none;
    position: absolute;
    width: 174px;
    z-index: 1;
    background: #dadada;
    opacity: 0.9;
    max-height: 75px;
    overflow-y: scroll;
}
.RealNamelist li ,.Tolist li {
    border-bottom: solid 1px #fff;
    cursor: pointer;
    font-size: 14px;
}
.Tolist li {
    width:280px;
}

.table_body {
    height: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#more_info {
    margin-left: 3px;
}

.add_idcard_div, .add_passport_div, .update_idcard_div, .update_passport_div {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 610px;
    height: 25px;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.flex_1 {
    flex-basis: 70px;
}

.flex_2 {
    text-align: left;
    vertical-align: middle;
    flex: 4;
}

.flex_3 {
    flex: 1;
}

.flex_2 input {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    font-size: 14px;
}

.flex_3 input {
    width: 50px;
    height: 25px;
}

.clear_float {
    height: 2px;
    width: calc(100% - 2px);
    clear:both;
}

/*上传文件*/
.dropFileBox {
    width: 600px;
    height: 330px;
    position: absolute;
    top: calc(6% + 80px);
    left: calc(50% - 300px);
    display: none;
    z-index: 16;
    border: 1px dashed #999;
}

.dropFile {
    position: relative;
    height: 330px;
    width: 100%;
    background: #fff;
}

.dropFileTit {
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-indent: 15px;
    background: #00aeef;
    font-size: 15px;
    position: relative;
}

.dropFileTit span {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
}

.dropFileConMid {
    margin: 15px auto 20px auto;
    width: 500px; 
    height:250px; 
    line-height:250px; 
    text-align:center;
    border:1px #c0c0c0 dashed;
    position: relative;
}

.dropFileConMidTop, .dropFileConMidMid, .dropFileConMidbot {
    margin: 30px auto 20px auto;
    width: 400px;
    height: 40px;
    line-height: 40px;
}

.dropFileConMidTop {
    font-size: 13px;
    text-align: center;
    position: relative;
}

.dropFileConMidMid .progressOut, .dropFileConMidMid .progressIn {
    margin: 10px auto 10px 0;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
}

.dropFileConMidMid .progressOut {
    width: 400px;
}

.dropFileConMidMid .progressIn {
    position: relative;
    top: -30px;
    background: #4DBF7D;
    width: 30px;
    max-width: 400px;
}

#serFinRepUpload {
    width: 70px;
    height: 22px;
    position: absolute;
    left: 5px;
    top: 9px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

.preUpload1 {
    cursor: pointer;
}

.serFinRepUploadName {
    margin-left: 7px;
    margin-top: 1px;
    width: 250px;
    height: 20px;
    border: none;
    font-size: 12px;
}

.isUpload {
    display: inline-block;
    width: 69px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    color: red;
}

.dropFileCon {
    overflow: hidden;
}
/*上传文件end*/

.content {
    padding-bottom: 5px !important;
}



.t11 {
    max-width: 5%;
    width: 5%;
}

.t12 {
    max-width: 6.25%;
    width: 6.25%;
}

.t13 {
    max-width: 10.83%;
    width: 10.83%;
}

.t14 {
    max-width: 10%;
    width: 10%;
}

.t15 {
    max-width: 18.75%;
    width: 18.75%;
}

.t16 {
    max-width: 6.67%;
    width: 6.67%;
}

.t17 {
    max-width: 9.17%;
    width: 9.17%;
}

.t18 {
    max-width: 15%;
    width: 15%;
}

.t19 {
    max-width: 10%;
    width: 10%;
}

.t20 {
    max-width: 8.3%;
    width: 8.3%;
}

.t21 {
    max-width: 13.3%;
    width: 13.3%;
}

.t22 {
    max-width: 8.3%;
    width: 8.3%;
}

.t23 {
    max-width: 140px;
    min-width: 140px;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t24 {
    max-width: 150px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t25 {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t26 {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t27, .t28 {
    max-width: 150px;
    min-width: 150px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.downFile_span {
    color: #00aeef;
    cursor: pointer;
}

.downFile_span:hover {
    color: red;
}

/*布局*/
html,body{
    width:100%;
    height:100%;
}

#originfactory_wrapper {
    position:fixed;
    overflow:auto;
    width:100%;
    height:100%;
    box-sizing:border-box;
}

#originfactory_sticker {
    width:100%;
    min-height:100%;
    box-sizing:border-box;
}

#originfactory_sticker-con {
    padding-bottom:40px;
    box-sizing:border-box;
}

#originfactory_footer {
    margin-top:-40px;
}

.remindInText {
    animation: fadescale 2s linear infinite;
    -webkit-animation: fadescale 2s linear infinite;
    // color: red;
}

@keyframes fadescale {
    0% {
        opacity: 1;
        // transform: scale(1);
        color: red;
    }
    50% {
        opacity: 1;
        // transform: scale(1.1);
        color: #FF1493;
    }
    100% {
        opacity: 0.5;
        // transform: scale(1);
        color: #FF00FF;
    }
}

@-webkit-keyframes fadescale {
    0% {
        opacity: 1;
        // -webkit-transform: scale(1);
        color: red;
    }
    50% {
        opacity: 1;
        color: #FF1493;
    }
    100% {
        opacity: 0.5;
        color: #FF00FF;
    }
}